* {
  box-sizing: border-box;
}

/*центровщик*/
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px grey;
  position: relative;
}

/*вписываем сверх 1200пх*/
img {
  max-width:100%;
  height:auto;
}

body {
  font-family: PTSans, 'Arial', sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

@font-face {
  font-family: 'PTSans';
  src:  url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'PTSans';
  src: url('../fonts/ptsans.woff') format('woff'),
  url('../fonts/ptsans.woff2') format('woff2');
  font-weight: 400;
  }

/*------------------------------------------*/

/*Шапка меню*/

.main-header {
  background-color: #ffffff;
}

.main-navigation ul {
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: top;
}


.main-navigation a {
  text-decoration: none;
  color: #000000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.main-navigation li:nth-child(2) {
  margin-right: 240px;
}

.active-page a {
  color: #88786d;
}

.active-page a:hover {
  color: #88786d;
}

.logo {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.intro-image {
  display: block;
  width: 1200px;
  height: 508px;
  background-image: url("../img/background_photo.jpg");
  background-color: #e4f1f9;
  background-position: 0px -55px;
}

.img-main_text {
  position: relative;
  margin-left: 371px;
  top: 75px;
}

.img-mask {
  position: relative;
  top: 96px;
}

/* ЖИЛЬЕ ЕДА СУВЕНИРЫ*/
.advantages {
  width: 100%;
  font-size: 0px;
  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 81px;
}

.advantages-item-left img {
  padding-top: 5px;
}

.advantages-item-center img {
  padding-top: 5px;
}


.advantages-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}

.advantages-item h2 {
  padding-top: 27px;
  margin: 0px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.advantages-item p {
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.advantages-item-left p {
  padding: 0px 70px;
  margin: 0px;
  padding-top: 25px;
}

.advantages-item-center p {
  display: block;
  margin: 0px;
  padding: 0px 58px;
  padding-top: 24px;
}

.advantages-item-right p {
  padding: 0px 60px;
  margin: 0px;
  padding-top: 24px;
}

/*интро текст*/

.intro-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 39px;
  background-color: #ffffff;
  vertical-align: top;
}

.intro-text h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  padding: 0px 300px;
}

.intro-text h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
  padding-top: 9px;
}

/*МОСТ ДЬЯВОЛА */
.features {
  width: 100%;
  font-size: 0px;
}

.features-blue {
  background-color: #81b3d2;
}

.features-grey {
  background-color: #eeeeee;
  vertical-align: middle;
  padding-top: 30px;
  padding-bottom: 58px;
}

.features-image {
  display: inline-block;
  width: 800px;
  vertical-align: middle;
}

.features-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: top;
}
.features-item p {
padding: 0px 62px;
}

.features-item-right p {
  padding: 0px 48px;
}

.features-blue p {
  display: block;
  margin-top: 21px;
}

.features-blue span {
  display: block;
  margin-top: 24px;
}

.features-blue .features-item {
  padding-top: 50px;
}

.features-blue h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  padding: 0px 95px;
  margin: 0px;
  padding-top: 4px;
}

.features-blue span,
.features-blue p {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.features-grey h2 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding: 0px 120px;
  padding-top: 17px;
  margin: 0px;
}

.features-grey span,
.features-grey p {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  padding-top: 23px;
  margin: 0px;
}

.search {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  background-color: #ffffff;
}

.search h3 {
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0px;
}

.search p {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  margin: 0px;
  padding-top: 32px;
}

.search a {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  width: 568px;
  padding: 30px 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  margin-top: 46px;
}

.map {
  display: block;
  width: 1200px;
  background-image: url("../img/map.jpg");
}

.iframe {
  border: none;
}

/*------------------------------------------------POPUP*/

.form {
  position: absolute;
  display: block;
  width: 568px;
  background-color: #ffffff;
  margin-left: 316px;
  font-size: 14px;
  font-weight: bold;
}
.from {
  display: block;
  width: 458px;
  margin-left: 55px;
  text-align: left;
  padding-top: 55px;
  position: relative;
}

.from input {
  background-color: #f2f2f2;
  border: 0px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 11px;
  margin-left: 22px;
  width: 344px;
  vertical-align: middle;
}

.from input:hover {
  background: #ebebeb;
}

.from input:focus {
  background: #ffffff;
}

.from a::before {
  content: "";
  position: absolute;
  top: 74px;
  left: 439px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -274px -10px;
}

.to {
  display: block;
  width: 458px;
  margin-left: 55px;
  text-align: left;
  padding-top: 28px;
  position: relative;
}

.to input {
  background-color: #f2f2f2;
  border: 0px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
  margin-left: 19px;
  width: 343px;
}

.to input:hover {
  background: #ebebeb;
}

.to input:focus {
  background: #ffffff;
}

.to a::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 438px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -274px -10px;
}

.to a:hover::before,
.from a:hover::before {
  width: 21px;
  height: 22px;
  background-position: -356px -10px;
}

.to a:active::before,
.from a:active::before {
  width: 21px;
  height: 22px;
  background-position: -315px -10px;
}


/*-------------------СТРОКА ГОСТИ*/
.guests {
  display: inline-block;
  vertical-align: middle;
  margin-left: 55px;
  padding-top: 30px;
  font-size: 0px;
  width: 458px;
}

.guest-adults {
  display: inline-block;
  vertical-align: middle;
  /*width: 226px;*/
  font-size: 0px;

}

.guest-adults label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  margin-right: 41px;

}

/*--------------------------КНОПКА МИНУС*/
.minus-btn {
  border: 0px;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  height: 38px;
  /*margin-left: 41px;*/
  padding: 0px;
  font-size: 0px;
  position: relative;
}

.minus-btn::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
  background-position: -690px -10px;
}

.minus-btn:hover::before {
  width: 12px;
  height: 3px;
  background-position: -754px -10px;
}

.minus-btn:active::before {
  width: 12px;
  height: 3px;
  background-position: -722px -10px;
}

.minus-btn-right {
  margin-left: 27px;
}


/*--------------------------КНОПКА ПЛЮС*/
.plus-btn {
  border: 0px;
  background-color: #f2f2f2;
  display: inline-block;
  width: 38px;
  font-size: 0px;
  height: 38px;
  position: relative;
  vertical-align: middle;
}

.plus-btn::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 19px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  background-position: -786px -10px;
}

.plus-btn:hover::before {
  width: 11px;
  height: 11px;
  background-position: -848px -10px;
  }

.plus-btn:active::before {
  width: 11px;
  height: 11px;
  background-position: -817px -10px;
  }

.input-adults {
  display: inline-block;
  width: 38px;
  background-color: #f2f2f2;
  border: 0px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  padding: 11px 0px;
  padding-left: 15px;
  vertical-align: middle;
}

.guest-children {
  display: inline-block;
  vertical-align: middle;
  margin-left: 52px;
  font-size: 0px;
  position: relative;
}

.guest-children label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;
}

.input-children {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  background-color: #f2f2f2;
  border: 0px;
  text-align: center;
}

.input-children {
  display: inline-block;
  width: 38px;
  background-color: #f2f2f2;
  border: 0px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  padding: 11px 0px;
  padding-left: 15px;
  vertical-align: middle;
}

.plus-children {
  border: 0px;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  width: 38px;
  font-size: 0px;
  height: 38px;
}

.search-btn-popup {
  display: block;
  width: 458px;
  background-color: #81b3d2;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 52px;
  text-align: center;
  margin-bottom: 54px;
}

.search-btn-popup:hover {
  background-color: #669ec0;
}

.search-btn-popup:active {
  background-color: #5496bd;
}

.search-btn-popup a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding-top: 15px;
  display: block;
  padding-bottom: 18px;
}





/*---------------------------------FOOTER*/
.index-footer {
position: relative;
margin-top: -124px;
background-color: #f9fbf6;
opacity: 0.9;
padding-top: 35px;
padding-bottom: 36px;
}

.main-footer {
  display: block;
  width: 1200px;
  text-align: center;
  font-size: 0px;
  padding-top: 35px;
  padding-bottom: 36px;
  background-color: #fefefe;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 10px;
}

.footer-hashtag a {
  text-decoration: none;
  color: #000000;
}

.footer-social a {
  text-decoration: none;
}

.social-btn-fb {
  margin-left: 2px;
  margin-right: 4px;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  font-size: 0px;
  vertical-align: top;
  background-color: #81b3d2;
  position: relative;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -613px -10px;
}

.social-btn-tw:active::before {
  background-image: url("../img/sprite_1.png");
  width: 17px;
  height: 15px;
  background-position: -439px -10px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -583px -10px;
}

.social-btn-fb:active::before {
  background-image: url("../img/sprite_1.png");
  width: 10px;
  height: 19px;
  background-position: -409px -10px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -650px -10px;
}

.social-btn-yt:active::before {
  background-image: url("../img/sprite_1.png");
  width: 20px;
  height: 16px;
  background-position: -476px -10px;
}

.footer-copyright {
  color: #000000;
  vertical-align: top;
  padding-top: 5px;
}

.footer-copyright span {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 5px;
}

.btn-academy {
  display: inline-block;
  vertical-align: top;
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
  background-image: url("../img/sprite_1.png");
}

.btn-academy:hover {
  width: 113px;
  height: 39px;
  background-position: -276px -10px;
  background-image: url("../img/sprite_1.png");
}

.btn-academy:active {
  width: 113px;
  height: 39px;
  background-position: -143px -10px;
  background-image: url("../img/sprite_1.png");
}

/*---------HOTELS----------*/

.sort-form {
  background-image: url("../img/background_hotels.jpg");
  background-color: #739dc3;
  padding-top: 27px;
  padding-bottom: 31px;
  text-align: center;
  background-position: 0px -55px;
}

.sort-form h2 {
  margin: 0px;
}

.ch4 {
  padding-left: 43px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-top: 25px;
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  background-position: -148px -10px;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -10px -10px;
}

input[type="checkbox"]:disabled + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 22px;
  background-position: -56px -10px;
}


.sort-item label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: normal;
}

.sort-item {
  display: inline-block;
  width: 250px;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  padding-left: 31px;
}

.sort-item h2 {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.sort-item li {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

/*------------------------------------*/

.filter-range {
  display: inline-block;
  vertical-align: middle;
  width: 330px;
  margin-left: 260px;
  margin-right: 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  width: 182px;
  margin-left: -8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  box-sizing: content-box;
  position: relative;
  height: 34px;
  margin-bottom: 19px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 315px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  font-size: 14px;
  line-height: 33px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}

.price-controls input {
  width: 70px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 33px;
  width: 318px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 86px;
  width: 137px;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* НАЙДЕНО----  */

.results-navigation {
  font-size: 0px;
  padding-top: 28px;
  padding-bottom: 31px;
  background-color: #fefefe;
  vertical-align: top;
}

.search-results {
  width: 215px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  margin: 0px;
}

.results-navigation h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  vertical-align: top;
  padding-left: 45px;
  padding-top: 2px;
}

.search-results-small {
  width: 75px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
  padding-left: 21px;
  padding-top: 8px;
}


.results-navigation span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.results-navigation ul {
  margin: 0px;
}

.results-navigation li:nth-child(2),
.results-navigation li:nth-child(3) {
  color: #81b3d2;
}
.results-navigation li {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
}

.results-navigation-type {
  width: 803px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
  padding-top: 8px;
  padding-left: 31px;
}

.results-navigation-type a {
  list-style: none;
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
  margin-left: 30px;
}

.results-navigation-type a:hover {
  color: #92bdd8;
  border-bottom: 1px dashed #81b3d2;
}

.results-navigation-type a:active {
  text-decoration: none;
  color: #000000;
  border-bottom: 0px;
}


.results-navigation-side {
  width: 107px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 12px;
  padding: 0px;
  padding-top: 8px;
  padding-right: 69px;
}

.active-link a {
  text-decoration: none;
  color:  #81b3d2;
  border-bottom: 0px;
}

.up a,
.down a {
  display: inline-block;
  width: 15px;
  height: 15px;
  font-size: 0px;
  vertical-align: top;
  position: relative;
}

.up a::before,
.down a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.up a::before {
  width: 11px;
  height: 10px;
  background-position: -490px -10px;
  padding-right: 5px;
}

.up a:hover::before {
  width: 11px;
  height: 10px;
  background-position: -552px -10px;
}

.up a:active::before {
  width: 11px;
  height: 10px;
  background-position: -521px -10px;
}

.down a::before,
.down a:hover::before,
 .down a:active::before {
  width: 11px;
  height: 10px;
  background-position: -428px -10px;
}

/*----- список отелей -----*/

.hotel {
  width: 1200px;
  font-size: 0px;
  padding-top: 24px;
  padding-bottom: 31px;
  border-top: 1px solid #e5e5e5;
  background-color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-3 {
  border-bottom: 1px solid #e5e5e5;
}

.rating-line img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}

.star i::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite_1.png);
  width: 18px;
  height: 17px;
  background-position: -516px -10px;
}

.hotel-preview,
.hotel-description,
.rating-line {
    display: inline-block;
    vertical-align: top;
    font-size: 0px;
}

.hotel-preview {
  width: 220px;
  text-align: center;
  padding-left: 60px;
  padding-top: 5px;
}

.hotel-description {
  width: 780px;
  text-align: left;
  vertical-align: top;
  padding-left: 18px;
}

.hotel-description a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0.1px;
}

.hotel-description a:hover {
  color: #81b3d2;
}

.hotel-description a:active {
  color: #b2b2b2;
}


.hotel-description h1 {
  /*margin: 0px;
  margin-bottom: 15px;*/
}

.hotel-description span {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.hotel-info a {
  display: block;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  padding: 3px;
  font-weight: bold;
}

.hotel-info a:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.hotel-info a:active {
  background-color: #5496bd;
  color: #88b6d1;
}


.hotel-book a {
  display: block;
  text-align: center;
  background-color: #766357;
  color: #ffffff;
  width: 142px;
  font-size: 14px;
  line-height: 21px;
  margin-top: 15px;
  padding: 3px;
  font-weight: bold;
}

.hotel-book a:hover {
  background-color: #604e43;
  color: #ffffff;
}

.hotel-book a:active {
  background-color: #503e33;
  color: #857871;
}


.rating-line {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: right;
  font-size: 12px;
  padding-right: 72px;
  padding-top: 3px;
}

.rating-line span {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  margin-top: 46px;
  padding: 3px;
}

.hotel-info {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  padding-top: 7px;
}

.hotel-book {
  display: inline-block;
  vertical-align: top;
  width: 142px;
  margin-left: 6px;
  padding-top: 7px;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.star {
  letter-spacing: 2px;
}

.sprite-chbox-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-chbox-checked-block {
    width: 26px;
    height: 22px;
    background-position: -56px -10px;
}

.sprite-chbox-checked-focus {
    width: 26px;
    height: 22px;
    background-position: -102px -10px;
}

.sprite-chbox-unchecked {
    width: 22px;
    height: 22px;
    background-position: -148px -10px;
}

.sprite-chbox-unchecked-block {
    width: 22px;
    height: 22px;
    background-position: -190px -10px;
}

.sprite-chbox-unchecked-focus {
    width: 22px;
    height: 22px;
    background-position: -232px -10px;
}

.sprite-clnd {
    width: 21px;
    height: 22px;
    background-position: -274px -10px;
}

.sprite-clnd-active {
    width: 21px;
    height: 22px;
    background-position: -315px -10px;
}

.sprite-clnd-focus {
    width: 21px;
    height: 22px;
    background-position: -356px -10px;
}

.sprite-filter-down {
    width: 11px;
    height: 10px;
    background-position: -397px -10px;
}

.sprite-filter-down-active {
    width: 11px;
    height: 10px;
    background-position: -428px -10px;
}

.sprite-filter-down-focus {
    width: 11px;
    height: 10px;
    background-position: -459px -10px;
}

.sprite-filter-up {
    width: 11px;
    height: 10px;
    background-position: -490px -10px;
}

.sprite-filter-up-active {
    width: 11px;
    height: 10px;
    background-position: -521px -10px;
}

.sprite-filter-up-focus {
    width: 11px;
    height: 10px;
    background-position: -552px -10px;
}

.sprite-icon_facebook {
    width: 10px;
    height: 19px;
    background-position: -583px -10px;
}

.sprite-icon_twitter {
    width: 17px;
    height: 15px;
    background-position: -613px -10px;
}

.sprite-icon_youtube {
    width: 20px;
    height: 16px;
    background-position: -650px -10px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -690px -10px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -722px -10px;
}

.sprite-minus-focus {
    width: 12px;
    height: 3px;
    background-position: -754px -10px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -786px -10px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -817px -10px;
}

.sprite-plus-focus {
    width: 11px;
    height: 11px;
    background-position: -848px -10px;
}

/*SPRITE-1 academy, social opacity, star*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-academy {
    width: 113px;
    height: 39px;
    background-position: -10px -10px;
}

.sprite-academy-active {
    width: 113px;
    height: 39px;
    background-position: -143px -10px;
}

.sprite-academy-focus {
    width: 113px;
    height: 39px;
    background-position: -276px -10px;
}

.sprite-icon_facebook_opacity {
    width: 10px;
    height: 19px;
    background-position: -409px -10px;
}

.sprite-icon_twitter_opacity {
    width: 17px;
    height: 15px;
    background-position: -439px -10px;
}

.sprite-icon_youtube_opacity {
    width: 20px;
    height: 16px;
    background-position: -476px -10px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: -516px -10px;
}
