* {
  box-sizing: border-box;
}

/*центровщик*/
.container {
  width: 1200px;
  margin: 0 auto;
}
/*version control 19-29*/
/*вписываем сверх 1200пх*/
img {
  max-width:100%;
  height:auto;
}
/*------------------------------------------*/

/*Шапка меню*/
nav {
  /*background-color: grey;*/
}

ul {
  padding-left: 0;
  padding-top: 20px;
  font-size: 0px;
}

li {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-size: 20px;
}

li:nth-child(2) {
  margin-right: 240px;
}

.logo {
  width: 100%;
  padding-left: 531px;
}



/* ЖИЛЬЕ ЕДА СУВЕНИРЫ*/
.advantages {
  width: 100%;
  font-size: 0px;
}

.advantages-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  font-size: 12px;
  padding-top: 60px;
}

/*интро текст*/

.intro-text {
  width: 100%;
  display: inline-block;
  text-align: center;

}


/*МОСТ ДЬЯВОЛА */
.features {
  width: 100%;
  font-size: 0px;
}

.features-blue {
  background-color: #81b3d2;
}

.features-grey {
  background-color: #eeeeee;
}

.features-image {
  display: inline-block;
  width: 800px;
  vertical-align: middle;
}

.features-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  font-size: 12px;
}

.search {
  width: 100%;
  text-align: center;
}

.map {
  width: 100%;
    }

.main-footer {
  width: 100%;
}

.footer {
  display: inline-block;
  border: 1px dotted red;
}
