* {
  box-sizing: border-box;
}

/*центровщик*/
.container {
  width: 1200px;
  margin: 0 auto;
}

/*вписываем сверх 1200пх*/
img {
  max-width:100%;
  height:auto;
}
/*------------------------------------------*/

/*Шапка меню*/

.main-navigation ul {
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-size: 20px;
}

.main-navigation li:nth-child(2) {
  margin-right: 240px;
}

.logo {
  width: 100%;
  padding-left: 531px;
}



/* ЖИЛЬЕ ЕДА СУВЕНИРЫ*/
.advantages {
  width: 100%;
  font-size: 0px;
}

.advantages-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  font-size: 12px;
  padding-top: 60px;
  padding-bottom: 85px;
  vertical-align: middle;
}

/*интро текст*/

.intro-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;

}


/*МОСТ ДЬЯВОЛА */
.features {
  width: 100%;
  font-size: 0px;
}

.features-blue {
  background-color: #81b3d2;
}

.features-grey {
  background-color: #eeeeee;
}

.features-image {
  display: inline-block;
  width: 800px;
  vertical-align: middle;
}

.features-item {
  display: inline-block;
  width: 400px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  padding-top: 50px;
  padding-bottom: 60px;

}

.search {
  width: 100%;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 50px;
}

.map {
  width: 100%;
    }

.main-footer {
  width: 100%;
  text-align: center;
  font-size: 0px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.footer-hashtag,
.footer-social,
.footer-copyright  {
  width: 400px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

/*---------HOTELS----------*/

.sort-form {
    background-image: url("../img/background_hotels.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
}


.sort-item {
  display: inline-block;
  width: 250px;
  text-align: left;
  vertical-align: top;
  font-size: 12px;
}

.filter-price {
  display: inline-block;
  width: 460px;
  margin-left: 230px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}


/* НАЙДЕНО----  */

.results-navigation {
  background-color: grey;
  font-size: 0px;
  padding-top: 30px;
  padding-bottom: 33px;

}

.search-results {
  width: 215px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.results-navigation-type {
  width: 860px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.results-navigation-side {
  width: 125px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  }

.up-down {
  font-size: 12px;
}

/*----- список отелей -----*/

.hotel {
  width: 100%;
  font-size: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hotel-preview,
.hotel-description,
.rating-line {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;

}

.hotel-preview {
  width: 220px;
  text-align: center;
}

.hotel-description {
  width: 780px;
  text-align: left;
}

.rating-line {
  width: 200px;
  text-align: right;
}
